<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flash.message.mapper.ProSecretMapper">
	<resultMap id="BaseResultMap"
		type="com.flash.message.entity.app.ProSecret">
		<result column="app_id" jdbcType="VARCHAR" property="appId" />
		<result column="app_secret" jdbcType="VARCHAR"
			property="appSecret" />
	</resultMap>
	<insert id="insertSelective"
		parameterType="com.flash.message.entity.app.ProSecret">
		insert into tbl_pro_secret
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="appId != null">
				app_id,
			</if>
			<if test="appSecret != null">
				app_secret,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="appId != null">
				#{appId,jdbcType=VARCHAR},
			</if>
			<if test="appSecret != null">
				#{appSecret,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="queryPassword" parameterType="java.lang.String"
		resultType="java.lang.String">
		select
		app_secret
		from tbl_pro_secret where app_id =
		#{appId,jdbcType=VARCHAR}
	</select>
</mapper>